html {
  scroll-snap-type: y mandatory;
}

.App {
  background-color: black;
  height: 100vh;
  display: grid;
  place-items: center;
}

.app__videos {
  height: 100vh;
  max-height: 800px;
  width: 80%;
  max-width: 500px;
  border: 1px solid black;
  border-radius: 20px;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  position: relative;
}

/* hide scrollbar on chrome,safari and opera */
.app__videos::-webkit-scrollbar {
  display: none;
}

/* hide scrollbar on internet explorer,edge and firefox */
.app__videos {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
